p {
  font-size: 40px;
}
.hidden{
  display: none;
}
.bar{
  font-size: 20px;
}
.button{
  padding: 20px 15px;
  font-size: 15px;
}
.buymax{
  position: fixed;
  bottom: 20px;
  right: 20px; /* you can take it to left */
}
